@model E_commerce.Models.Farmer
@{
    Layout = null; 
}
<div> <h3>المنتجات الخاصة بالمزارع @Model.Name</h3>
<div class="table-responsive text-nowrap">
    <table id="farmer-datatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%"
        cellspacing="0">
        <thead>
            <tr>
                <th><strong>الرقم</strong></th>
                <th>اسم المنتج</th>
                <th>الكمية</th>
                <th>الوحدة</th>
                <th>السعر</th>
                <th>الحالة</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr class="@item.Id%2==0?odd:even">
                    <td class="sorting_1">@item.Id</td>
                    <td>@item.NameAr</td>
                    <td>@item.Quantity</td>
                    <td>@item.Unit</td>                  
                    <td>@item.Price</td>                  
                    <td>@item.Status</td>                  
                </tr>
            }

        </tbody>
    </table>
</div>
</div>