@using E_commerce.Models.Custome
@model IEnumerable<E_commerce.Models.Product>
<title>سلة المشتريات</title>


<div class="main">
    <div class="basket container my-4  p-3  ">




        <div class="row    divTopbutton pt-3">
            <div class="col ">
                <button type="button" class="float-start px-5 btnColor " disabled>
                    <p class=" fs-4 pt-2 mt-1 ">
                        السلة
                        <i class="fa-solid fa-cart-shopping fa-lg  ms-2"></i>
                    </p>
                </button>

            </div>
            <div class="col puyproduct">
                @if (ViewBag.userS != null)
                {
                    <button type="button" class="float-end px-4 btnColor"
                        data-bs-toggle="modal" data-bs-target="#basketParticipant">
                        <p class=" fs-4  pt-2 mt-1">
                            اتمام عملية الشراء
                        </p>
                    </button>
                }
                else
                {
                    <form action="/login">
                        <button type="submit" class="float-end px-4 btnColor">
                            <p class=" fs-4  pt-2 mt-1">
                                اتمام عملية الشراء
                            </p>
                        </button>
                    </form>
                }


                <!-- complete puy product  -->
                <div class="modal fade   " id="basketParticipant" tabindex="-1" aria-labelledby="payproductLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header   ">
                                <h5 class="modal-title text-center " id="autoinParticipantLabel">  اتمام عملية الشؤاء</h5>
                                <button type="button" class=" bg-white rounded-circle " data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fa-solid fa-close p-1 fs-4 "></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="  needs-validation  mt-5 mt-sm-5 mt-md-1   mt-lg-5 mx-4" method="post" action="/Basket/Done" novalidate>

                                    <label class="">العنوان :</label>
                                    <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-2" placeholder="" id="validationCustom01" name="userAddress" required>


                                    <label class="">ملاحظة :</label>
                                    <textarea class="form-control my-2 my-sm-2 my-md-2 my-lg-2 pb-5 " id="validationTextarea" name="detials" placeholder=" نص الملاحظة"></textarea>

                                    <div class="   ">
                                        <button class=" btnsubmit btn  fs-5 w-100   " type="submit"> تاكيد الشراء</button>
                                    </div>


                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- message success share in the aution form  -->
                @*<div  class="   basketsuccessfulMSG text-center  position-fixed  m-4   ">
                    <div class="alert fs-5 alert-dismissible fade show  pb-0 float-end " role="alert">
                        <div class="row justify-content-center">
                            <div class="col-6 ">
                                <p class="">
                                    تم ارسال طلبك بنجاح سيتم التواصل معك في اقرب وقت

                                </p>
                            </div>
                            <div class="col-6 closesvg  ">

                                <button id="btnClosebasket" type="button " class="  rounded-circle mt-3 float-end " data-dismiss="alert" aria-label="Close">
                                    <i class="fa-solid fa-close px-2 pb-1 pt-2 fs-5"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>*@

                
            </div>

        </div>

        @{
            List<Cart> carts = ViewBag.cart;
        }

        <div class="table-responsive py-3">
            <table id="basketTable" class=" basketTable table fs-5">
                <thead class="tableHead  ">
                    <tr>
<<<<<<< Updated upstream
                        <th scope="col" class="text-start">الصوره</th>
                        <th scope="col"class="text-start">اسم المنتج</th>
                        <th scope="col"class="text-start">السعر</th>
                        <th scope="col"class="text-start">التراجع</th>
                        <th scope="col" class="text-start">
=======
                        <th scope="col" style="text-align: start;">الصوره</th>
                        <th scope="col" style="text-align: start;">اسم المنتج</th>
                        <th scope="col" style="text-align: start;">السعر</th>
                        <th scope="col" style="text-align: start;">الكمية</th>
                        <th scope="col" class="text-right">
>>>>>>> Stashed changes
                            <span id="amount">الاجمالي</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cart cart in carts)
                    {
                        <tr id="productTr1">
                            <td>
                                <div class="productImg">
                                    <div class="imgPro">
                                        @if(cart.ImageURL != null)
                                        {
                                            <img src="~/uploads/@cart.ImageURL" alt="">
                                        } else
                                        {
                                        <img src="../imgs/tomato.png" alt="">
                                            
                                        }
                                    </div>
                                </div>
                            </td>

                            <td>
                                <p>@cart.Name</p>
                            </td>

                            <td>
                                <input type="text" value="@cart.Price" class="price form-control " disabled>
                            </td>

                            <td>
                                <div class="button-container fs-4 ">
                                    @*<form action="/Basket/Increment" method="post">
                                        <button class="cartQtyPlus " type="submit"> + </button>
                                        <input type="hidden" name="id" value="@cart.Id" />
                                    </form>

                                    <input type="text" name="qty" min="0" class="qty form-control" value="@cart.Quantity">

                                    <form action="/Basket/Decrement" method="post">
                                        <button class="cartQtyMinus" type="submit" value="-">- </button>
                                        <input type="hidden" name="id" value="@cart.Id" />
                                    </form>*@

                                    <form action="/Basket/Remove" method="post">
                                        <button id="btnDelete1" class="btnDelete ms-5 " type="submit">
                                            <i class="fa-solid fa-close p-1 fs-4 "></i>
                                        </button>
                                        <input type="hidden" name="id" value="@cart.Id" />
                                    </form>

                                </div>
                            </td>

                            <td>
                                <span id="amount" class="amount">@(cart.Quantity * cart.Price)</span>
                                ريال
                            </td>
                        </tr>
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                        </td>
                        <td align="right">
                            <strong>
                                الاجمالي= <span id="total" class="total">@carts.Sum(c => (c.Price*c.Quantity))</span>ريال

                            </strong>
                        </td>
                    </tr>
                </tfoot>

            </table>


        </div>
    </div>
</div>