@model E_commerce.ViewModel.UserViewModel

@{
    Layout = null;
}
<script type="text/javascript">

    $.fn.select2.defaults.set("dropdownParent", $('#select'));
    $(document).ready(function () {
        $("#childUsers").select2({
            ajax: {
                url: '/Admin/Users/GetUser',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: $.map(data.items, function (item) {
                            console.log(item);

                            return {
                                id: item.id,
                                text: item.text,
                            };
                        }),
                    };
                },
                cache: true,
                onError: function (err) {
                    console.log(err);
                }
            },
            minimumInputLength: 1,
            placeholder: "حدد المستخدم",
        });
         if ("@Model.user.Users" != "") {
            var newOption = new Option("@Model.user.Users?.Name", "@Model.user.Users?.Id", false, false);
            $('#childUsers').append(newOption).trigger('change');
        }
    });
      $(document).ready(function () {
    // تفعيل Select2 على القائمة المنسدلة الأولى
    //$("#GovernorateSelect").select2();

    // إجراء طلب Ajax لجلب البيانات من الدالة GetGovernorate عند تحميل الصفحة
    $.ajax({
        url: "/Register/GetGovernorate", // تأكد من تعديل المسار بناءً على الهيكل الخاص بمشروعك
        type: "GET",
        dataType: "json",
        success: function (data) {
            // تحديث القائمة المنسدلة الأولى بالبيانات المستلمة
            $.each(data.items, function (index, item) {
                $(".GovernorateSelect").append(new Option(item.text, item.id));
            });
        },
        error: function (error) {
            console.error("Error:", error);
        }
    });

    // عند تغيير القيمة في القائمة المنسدلة الأولى
    $(".GovernorateSelect").on("change", function () {
        var selectedValue = $(this).val();

        // إجراء طلب Ajax لجلب البيانات من الدالة GetDirectorate
        $.ajax({
            url: "/Register/GetDirectorate/" + selectedValue, // تأكد من تعديل المسار بناءً على الهيكل الخاص بمشروعك
            type: "GET",
            dataType: "json",
            success: function (data) {
                // تحديث القائمة المنسدلة الثانية بالبيانات المستلمة
                $(".GovernorateSelect2").empty();
                $.each(data.items, function (index, item) {
                    $(".GovernorateSelect2").append(new Option(item.text, item.id));
                });

                // إعادة تفعيل Select2 على القائمة المنسدلة الثانية
               // $("#GovernorateSelect2").select2();
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
    });
});



</script>

<div class="row">
    <!-- Basic -->
    <div class="col-md-12">
        <form class="row g-3 needs-validation" asp-action="CreateOrEdit" asp-route-id="@Model.user.Id"
              onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.user.Id" name="id" />
            <input type="hidden" asp-for="@Model.user.Phone.Id" />
            <input type="hidden" asp-for="@Model.user.CreatedAt" />
            <div class="form-group">
                <label class="form-label w-100" for="name-id" asp-for="@Model.user.Name"></label>
                <div class="input-group input-group-merge">
                    <input id="name-id" asp-for="@Model.user.Name" class="form-control"
                           placeholder="محمد احمد عبدالله" />
                </div>
                <span asp-validation-for="@Model.user.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="namber-id" asp-for="@Model.user.Phone.Number"></label>
                <div class="input-group input-group-merge">
                    <input type="tel" id="namber-id" asp-for="@Model.user.Phone.Number" class="form-control"
                           placeholder="777-000-000" aria-describedby="modalAddCard2" />
                </div>
                <span asp-validation-for="@Model.user.Phone.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="namber-id" asp-for="@Model.user.JobName"></label>
                <select class="form-select" asp-for="@Model.user.JobName"  data-allow-clear="true" asp-items="@(new SelectList(StaticData.Roles, "Name", "Name"))"></select>
                <span asp-validation-for="@Model.user.JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.user.Status"></label>
                <div class="input-group input-group-merge">
                    <select asp-for="@Model.user.Status" class="form-control">
                        <option value="فعال">فعال</option>
                        <option value="متوقف">متوقف</option>
                    </select>
                </div>
                <span asp-validation-for="@Model.user.Status" class="text-danger"></span>
            </div>
            <!-- select2 -->
            <div class="form-group" id="select">
                <label class="form-label w-100" for="childUsers" asp-for="@Model.user.UsersId"></label>
                <div class="input-group input-group-merge">
                    <select id="childUsers" asp-for="@Model.user.UsersId" class="form-control" name="UsersId"
                            style="width: 100%;" data-placeholder="حدد المستخدم" aria-describedby="modalAddCard2">
                    </select>
                </div>
                <span asp-validation-for="@Model.user.UsersId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label w-100" for="modalAddCard">المحافظة</label>
                <div class="input-group input-group-merge">
                    <select required id="modalAddCard"  class="form-control GovernorateSelect"
                           aria-describedby="modalAddCard2">

                       </select>
                </div>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="modalAddCard">المديرية</label>
                <div class="input-group input-group-merge">
                    <select required id="modalAddCard" asp-for="@Model.user.DirectorateId" class="form-control GovernorateSelect2"
                           aria-describedby="modalAddCard2">

                       </select>
                </div>
                <span asp-validation-for="@Model.user.DirectorateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="modalAddCard" asp-for="@Model.user.Address"></label>
                <div class="input-group input-group-merge">
                    <input id="modalAddCard" asp-for="@Model.user.Address" class="form-control" type="text"
                           placeholder="قرية النجيبة" aria-describedby="modalAddCard2" />
                </div>
                <span asp-validation-for="@Model.user.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="modalAddCard" asp-for="@Model.user.Password"></label>
                <div class="input-group input-group-merge">
                    <input id="modalAddCard" asp-for="@Model.user.Password" class="form-control" type="text"
                           placeholder="Test@124ot4mm" aria-describedby="modalAddCard2" required />
                </div>
                  <span asp-validation-for="@Model.user.Password" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <div class="d-grid gap-2">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>