@model IEnumerable<E_commerce.Models.User>

@{
    User userInput = new User();
    ViewData["Title"] = "Index";
    PagingInfo pagingInfo = new PagingInfo();
    int pageNo = 0;
    if (ViewBag.PagingInfo != null)
    {
        pagingInfo = ViewBag.PagingInfo;
        pageNo = pagingInfo.CurrentPage;
    }
}

 <script src="~/js/site.js"></script>
<!-- Layout container -->
<div class="layout-page">

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4>
                المستخدمين/
            </h4>
        </div>
        <div class="container-xxl flex-grow-1 container-p-y">

            <!-- Basic Bootstrap Table -->
            <div class="card  p-4">
                <div class="card-header border-bottom">
                    <h5 class="card-title">عرض المستخدمين</h5>
                </div>
                <div class="row p-2">
                    <div class="col-md-2  mt-2 justify-content-end">
                        <a type="button" asp-action="Search" class="btn btn-primary  d-block"
                            style="margin-right: auto !important;">
                            <i class="bx bx-filter me-0 me-lg-2"></i>
                            <span class="d-none d-lg-inline-block">الفلترة</span>
                        </a>

                    </div>
                    <div class="col-md-7  mt-2">
                        <Form method="post">
                            <section class="w-100">
                                <div class="input-group">
                                    <input type="text" name="name" class="form-control" id="advanced-search-input"
                                        placeholder="البحث بالاسم" />
                                    <button class="btn btn-primary" id="advanced-search-button" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>

                                </div>

                                <div id="datatable-advanced-search"></div>
                            </section>
                        </Form>
                    </div>
                    <div class="col-md-3  mt-2 justify-content-end">
                        <a type="button" class="btn btn-primary  d-block" onclick="showInPopup('@Url.Action("create","Users",null,Context.Request.Scheme)','New User')"
                         style="margin-right: auto !important;">
                            <i class="bx bx-plus me-0 me-lg-2"></i>
                            <span class="d-none d-lg-inline-block">إضافة مستخدم</span>
                        </a>
                    </div>
                

                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><strong>الرقم</strong></th>
                                <th>الاسم</th>
                                <th>المسمى الوظيفي</th>
                                <th>رقم الهاتف</th>
                                <th>العنوان</th>
                                <th>تاريخ الاضافة</th>
                                <th>حالة المستخدم</th>
                                <th>الإجراءات</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (User user in Model)
                            {
                                <tr>
                                    <td><strong>@user.Id</strong></td>
                                    <td>@user.Name</td>
                                    <td>@user.Place.Name</td>
                                    <td>@user.Phone.Number</td>
                                    <td>@user.Address</td>
                                    <td>@user.CreatedAt</td>
                                    <td>@user.UserStatus.Name</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle hide-arrow p-0"
                                            data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@user.Id">
                                                    <i class="bx bx-edit-alt me-1"></i>تعديل
                                                </a>
                                                <a class="dropdown-item" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                    <i class="bx bx-trash me-1"></i> حذف
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-light" data-bs-dismiss="modal">Close</a>
                                                        <a class="btn btn-danger" asp-action="Delete"
                                                        asp-route-id="@user.Id">Confirmation Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="_pagination" model="@pagingInfo" />
                </div>
            </div>
            <!--/ Basic Bootstrap Table -->
        </div>
    </div>
</div>
