@model IEnumerable<E_commerce.Models.Custome.ProductsWithImages>
    <title>الرئيسية</title>
<div class="home">
    <div class=" container">
        <div class=" hometab container-fluid rounded-pill  d-block ">

            <div class="dropdown  clearfix ScrollMenu   container d-inline-block ">
                <button class="btn  menu_btn float-start rounded-pill" onclick="scroll_l()">
                    <i class="fa-solid fa-caret-right"></i>
                </button>
                <button class=" btn  menu_btn float-end rounded-pill " onclick="scroll_r()">
                    <i class="fa-solid fa-caret-left"></i>
                </button>
                <div class="row   scrollitem rounded-pill ">

                    @{
                        List<E_commerce.Controllers.MainCategory> categories = ViewBag.categories;
                    }

                    @foreach (var cat in categories)
                    {
                        <div class="col-sm-6 col-md-auto col-lg-auto  rowcolumn   ">
                            <button class="btn btn-color dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton[@cat.Id]" data-bs-toggle="dropdown" aria-expanded="false">
                                @cat.Name
                            </button>
                            <ul class="dropdown-menu dropdown-menu-colo-light" aria-labelledby="dropdownMenuButton[@cat.Id]">
                                @foreach (var subCat in cat.subCategory)
                                {
                                    <li><a class="dropdown-item " href="/?catId=@subCat.Id">@subCat.Name</a></li>
                                }
                            </ul>
                        </div>  
                    }
                </div>
            </div>

        </div>


        <div id="carouselExampleIndicators" class="carousel slide mt-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active  rounded-pill">
                    <img src="~/imgs/backgrond_slid1.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h3 class="  py-3">مرحبا بكم في السوق المركزي الالكتروني  </h3>
                        <P class="py-2  d-sm-none d-md-none d-lg-block ">
                            هنا تجدون خيرات وطننا الغالي
                            .. من ثمار وخضر طازجة وبن يمني
                            وعسل بلدي بدرجة أولى<br>
                            والالبان والاجبان وكل
                            المحاصيل الزراعية
                            , وهنا نوفر مساحة خاصة للمزارع
                            ونوفر له الخدمات الزراعية

                        </P>
                        <P>
                            سجل دخولك واستمتع بالعروض
                        </P>
                        <a href="/Login" class=" text-decoration-none  ">
                            <button type="button" class="btn btncarousel rounded-pill p-auto  px-sm-3  py-sm-1 px-md-5  py-md-1 px-lg-5  py-lg-1">اشتري الان</button>
                        </a>
                    </div>
                </div>
                <div class="carousel-item  rounded-pill">
                    <img src="~/imgs/backgrond_slid2.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption ">
                        <h3 class="  py-3">المزاد الاسبوعي </h3>
                        <P class="py-2  d-sm-none d-md-none d-lg-block ">
                            الان يمكنك الدخول للمزاد
                            والحصول على أجود المنتجات

                        </P>
                        <P>
                            سجل دخولك واستمتع بالعروض
                        </P>
                        <a href="/Login" class=" text-decoration-none  ">
                            <button type="button" class="btn btncarousel rounded-pill p-auto  px-sm-3  py-sm-1 px-md-5  py-md-1 px-lg-5  py-lg-1"> اشترك الان</button>
                        </a>

                    </div>
                </div>
                <div class="carousel-item rounded-pill">
                    <img src="~/imgs/backgrond_slid3.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption rounded-pill ">
                        <h3 class="  py-3">ترقبوا العروض الحصرية والقائمة</h3>
                        <P class="py-2  d-sm-none d-md-none d-lg-block ">
                            اشتري واحصل على خصومات قد تصل الى %50
                        </P>
                        <p>
                            سجل دخولك واستمتع بالعروض
                        </p>
                        <a href="/Login" class=" text-decoration-none  ">
                            <button type="button" class="btn btncarousel rounded-pill p-auto  px-sm-3  py-sm-1 px-md-5  py-md-1 px-lg-5  py-lg-1">اشتري الان</button>
                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <i class="fa-solid fa-circle-chevron-right fa-xl rounded-circle " aria-hidden="true"></i>

                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <i class="fa-solid fa-circle-chevron-left fa-xl rounded-circle " aria-hidden="true"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="DivProduct container">
            <div class=" btn btnProduct my-4  p-2  text-center">
                <h5 class=" pt-2 fs-4 ">
                    المنتجات الفعالة
                </h5>

            </div>

            <div class="row mypaginationindex" style="display: none;">

                @foreach (var proJoinimg in Model)
                {
                    <div class="col-sm-6 col-md-4  col-lg-4 data">
                        <a href="/Details?id=@proJoinimg.product.Id" class="text-decoration-none">
                            <div class="card my-2">
                                @if(proJoinimg.image != null && proJoinimg.image.Count > 0){
                                    <img src="~/uploads/@Html.DisplayFor(modelItem => proJoinimg.image.First().ImageUrl)" class="img-fluid card-img-top" alt="@proJoinimg.product.NameAr" style="max-height: 245px;">
                                } else
                                {
                                    <img src="~/imgs/tomato.png" class="img-fluid card-img-top" alt="@proJoinimg.product.NameAr" style="width: 760; height:1200">
                                }
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => proJoinimg.product.NameAr)</h5>
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <p class="pt-2">@Html.DisplayFor(modelItem => proJoinimg.product.Quantity) @Html.DisplayFor(modelItem => proJoinimg.product.Unit)</p>
                                        </div>
                                        <div class="col">
                                            <p class="price p-2 ">@Html.DisplayFor(modelItem => proJoinimg.product.Price) ريال</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            @if (proJoinimg.product.UserId != null && proJoinimg.product.UserId != 1)
                                            {
                                                <p><i class="fa-solid fa-square-check me-2"></i>بضمانة الاتحاد الزراعي</p>
                                            }

                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col">
                                           
                                                <p><i class="fa-solid fa-location-dot me-2"></i>@proJoinimg.product.Address</p>
                                            
                                            <p>@Html.DisplayFor(modelItem => proJoinimg.product.DetailsAr)</p>
                                        </div>
                                        <div class="col">
                                            <p>@Html.DisplayFor(modelItem => proJoinimg.product.CreatedAt)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }



            </div>

            @if (Model == null || Model.Count() == 0)
            {
                <center><h1>لايوجد منتجات</h1></center>
                <br />
                <br />
            }
            else
            {
                <nav aria-label="pages" class="pages mt-4 ">
                    <ul class="pagination ">
                    </ul>
                </nav>
            }



        </div>
    </div>
</div>