@using E_commerce.Models.Custome
<title>تفاصيل المزاد</title>


<div class="details detailsaution container  mt-4  bg-white py-2">

    <div class="  divinfo   my-2  ">

        @{

            E_commerce.Models.Custome.AutionsProduct auction = ViewBag.Auction;
            string user = ViewBag.userS;
            decimal? amount = @ViewBag.maxAmount;
        }
        @if (auction != null)
        {
            <div class="row">

                <div class="  col-sm-6 col-md-4 col-lg-4     ">
                    <div class=" m-2 p-2 ">

                        <h5 class="fs-2 "><span>@auction.Products.NameAr</span></h5>
                        <div class="">
                            <p><i class="fa-solid fa-square-check me-2"></i>الاتحاد التعاوني الزراعي</p>
                        </div>
                        <div class="">
                            <p><i class="fa-solid fa-location-dot me-2"></i>@auction.Products.Address</p>
                        </div>

                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-4    ">
                    <div class="m-2 p-2 bg-white divinfocolorwhite">
                        <div class="row justify-content-center">
                            <div class="col">
                                <p> <span class="me-2">50</span>@auction.Products.Unit</p>
                            </div>
                            <div class="col  mx-2 ">
                                <p>
                                    تاريخ المزاد:
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-center ">
                            <div class="col ">
                                <p class=""><span class="me-2">@auction.Products.Duration</span>ايام</p>

                            </div>
                            <div class="col  ">
                                <p>
                                    <span>
                                        @auction.Auctions.StartDate
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-center ">
                            <div class="col">
                                <p><i class="fa-solid fa-eye me-2"></i><span>@(auction.Products.Views ?? 0)</span></p>
                            </div>
                            <div class="col">
                                <p class=""><span>@auction.Auctions.EndDate</span></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-4">
                    <div class=" m-2 p-2 bg-white divinfocolorwhite">
                        <div class="row justify-content-between ">
                            <div class="col">
                                <div>يبدأ المزاد بمبلغ</div>
                                <h5 class="fs-1 pt-2 pb-md-2 pb-lg-3"> <span>@auction.Auctions.StartPrice</span>  <span>  ريال  </span></h5>
                                    
                                 <div>اعلى قيمه تمت المزايده عليها</div>
                                <h5 class="fs-1 pt-2 pb-md-2 pb-lg-3"> <span>@(amount ?? auction.Auctions.StartPrice)</span>  <span>  ريال  </span></h5>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
    <div class=" moreInfo my-4  ">
        <div class="row">
            <div class="col ">
                <p>
                    <span>
                        @auction.Products.NameAr
                    </span>
                </p>
            </div>
            <div class="col clearfix">
                @if (user != null)
                {
                    <button type="button" class=" btn float-end btAddToBasket me-3  px-lg-5 px-md-3   py-0 "
                        data-bs-toggle="modal" data-bs-target="#autoinParticipant">
                    <h5 class="pt-2 ">
                        المشاركة في المزاد
                    </h5>
                </button>
                }
                

                <!-- share in the aution form  -->
                <div class="modal fade   " id="autoinParticipant" tabindex="-1" aria-labelledby="addproductLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header   ">
                                <h5 class="modal-title text-center " id="autoinParticipantLabel">  اتمام عملية المزايد</h5>
                                <button type="button " class=" bg-white rounded-circle" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fa-solid fa-close p-1 fs-4"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation mt-5 mt-sm-5 mt-md-1 mt-lg-5 mx-4" action="./DetailsAution/Bidding?id=@ViewBag.autionId" novalidate method="post">
                                    <label class="">مبلغ المزايده:</label>
                                    <input type="number" class="form-control my-2 my-sm-2 my-md-2 my-lg-2" placeholder="قيمة المزايده" id="validationCustom01" name="bidding" required>

                                    <div >
                                        <button id="cuccessNoticeaution" class=" btnsubmit btn  fs-5 w-100" type="submit"> تاكيد المزايده</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- message success share in the aution form  -->
                <div id="autioncuccessDiv" class=" successfulMSG text-center cuccessDiv position-fixed  m-4   ">
                    <div class="alert fs-5 alert-dismissible fade show  float-end " role="alert">
                        <div class="row justify-content-center">
                            <div class="col ">
                            </div>
                            <div class="col closesvg ">

                                <button id="btnCloseaution" type="button " class=" rounded-circle float-end" data-dismiss="alert" aria-label="Close">
                                    <i class="fa-solid fa-close p-1 fs-5"></i>
                                </button>
                            </div>
                        </div>
                        <p class="pt-4">تم ارسال طلبك بنجاح سيتم التواصل معك في اقرب وقت</p>

                        <div class="row justify-content-center">
                            <div class="col ">
                                <p>
                                    رقم الطلب :<span>11495</span>
                                </p>
                            </div>
                            <div class="col ">
                                <i class="fa-solid fa-copy float-end  "></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    @{
        List<ImagesProduct> images = ViewBag.images;
    }
    @if (images != null && images.Count > 0)
    {
        <div class="row ">
            <div class="col-lg-9 col-md-9 col-sm-12 main ">
                <div class="row">
                    @foreach (var img in images)
                    {
                        <div class="col-12">
                            <img src="~/uploads/@img.ImageUrl" class="img-fluid mb-3 " alt="@auction.Products.NameAr">
                        </div>
                    }
                </div>
            </div>
        </div>

    }

    @{
        List<UsersWithComments> comments = ViewBag.comments;
    }

    @if (comments != null && comments.Count > 0)
    {
        <div class="comment p-3 ">
            @foreach (var com in comments)
            {
                <p><i class="fa-solid fa-user me-2"></i> @com.user.Name </p>
                <hr>
                <p>
                    @com.comment.Text
                </p>
            }

        </div>
    }

    @if (user != null)
    {
        <div class="">
            <form class="needs-validation mt-5 mx-1" action="./DetailsAution?id=@ViewBag.autionId" novalidate method="post">
                <textarea class="form-control my-2 my-sm-2 my-md-2 my-lg-2 pb-5" id="validationTextarea" placeholder=" اكتب تعليقك هنا" name="comment" required></textarea>
                <button class=" btAddComment btn  fs-5 me-3  px-lg-5 px-md-3   py-0  " type="submit"> ارسال</button>
            </form>
        </div>
    }

</div>
