@model E_commerce.ViewModel.ProductsViewModel

@{
    Layout = null;
}
<script type="text/javascript">
    $.fn.select2.defaults.set("dropdownParent", $('#select'));
    $(document).ready(function () {
        $("#category-product").select2({
            ajax: {
                url: '/Admin/Products/GetCategory',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: $.map(data.items, function (item) {
                            console.log(item);

                            return {
                                id: item.id,
                                text: item.text,
                            };
                        }),
                    };
                },
                cache: true,
                onError: function (err) {
                    console.log(err);
                }
            },
            minimumInputLength: 1,
            placeholder: "حدد الصنف",
        });
    if ("@Model.product.Category" != "") {
        var newOption = new Option("@Model.product.Category?.Name", "@Model.product.Category?.Id", false, false);
        $('#category-product').append(newOption).trigger('change');
        }
        });
</script>

<div class="row">
    <!-- Basic -->
    <div class="col-md-12">
        <form class="row g-3 needs-validation" asp-action="CreateOrEdit" method="post"
              enctype="multipart/form-data" asp-route-id="@Model.product.Id"
              onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.product.Id" name="id" />
            <div class="form-group">
                <label class="form-label w-100" for="name-id" asp-for="@Model.product.NameAr"></label>
                <div class="input-group input-group-merge">
                    <input id="name-id" asp-for="@Model.product.NameAr" class="form-control" placeholder="رمان صعدي" />
                </div>
                <span asp-validation-for="@Model.product.NameAr" class="text-danger"></span>
            </div>
            <!-- select2 -->
            <div class="form-group" id="select">
                <label class="form-label w-100" for="category-product" asp-for="@Model.product.Category.Name"></label>
                <div class="input-group input-group-merge">
                    <select id="category-product" asp-for="@Model.product.CategoryId" class="select2 form-select" required
                            name="CategoryId" style="width: 100%;" data-placeholder="حدد الصنف"
                            aria-describedby="modalAddCard2">
                    </select>
                </div>
                <span asp-validation-for="@Model.product.CategoryId" class="text-danger"></span>
            </div>
            <!-- /select2 -->
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.product.Price"></label>
                <div class="input-group input-group-merge">
                    <input type="number" asp-for="@Model.product.Price" class="form-control"  />
                </div>
                <span asp-validation-for="@Model.product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.product.Quantity"></label>
                <div class="input-group input-group-merge">
                    <input type="number" min="1" max="1000" step="1" asp-for="@Model.product.Quantity" class="form-control" placeholder="" />
                </div>
                <span asp-validation-for="@Model.product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.product.Unit"></label>
                <div class="input-group input-group-merge">
                    <input type="text" asp-for="@Model.product.Unit" class="form-control" placeholder="" />
                </div>
                <span asp-validation-for="@Model.product.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.product.DetailsAr"></label>
                <div class="input-group input-group-merge">
                    <textarea asp-for="@Model.product.DetailsAr" class="form-control" placeholder=""></textarea>
                </div>
                <span asp-validation-for="@Model.product.DetailsAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.product.Address"></label>
                <div class="input-group input-group-merge">
                    <input type="text" asp-for="@Model.product.Address" class="form-control" placeholder="" />
                </div>
                <span asp-validation-for="@Model.product.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.product.Discount"></label>
                <div class="input-group input-group-merge">
                    <input  type="number" min="0.00" max="0.99" step="0.01" value="0.00"  asp-for="@Model.product.Discount" class="form-control" placeholder="" />
                </div>
                <span asp-validation-for="@Model.product.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.product.Status"></label>
                <div class="input-group input-group-merge">
                    <select asp-for="@Model.product.Status" class="form-control" >
                      <option value="فعال">فعال</option>
                    <option value="متوقف">متوقف</option>
                    </select>
                </div>
                <span asp-validation-for="@Model.product.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.product.Duration"></label>
                <div class="input-group input-group-merge">
                    <input type="number" min="1" max="30" step="1" asp-for="@Model.product.Duration" class="form-control" placeholder="" />
                </div>
                <span asp-validation-for="@Model.product.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="price-id" asp-for="@Model.Files"></label>
                <div class="input-group input-group-merge">
                    <input type="file" class="form-control" id="inputGroupFile02" multiple asp-for="@Model.Files">
                </div>
                <span asp-validation-for="@Model.Files" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <div class="d-grid gap-2">
                    <input type="submit" value="Submit" class="btn btn-primary" id="uploadFile" />
                </div>
            </div>
        </form>
    </div>
</div>