<title> اضافة منتج</title>

<div class=" addpeoduct container mt-4 ">
    <div class=" product  text-center m-auto mt-sm-0 mt-lg-5 m-md-0 ">
        <div class=" productTopDiv py-2  pe-2  p-sm-2  p-lg-2 p-md-1  ">
            <h4 class="pt-1 pt-lg-2 pt-sm-2 pt-md-1 text-white fs-2 ">اضافة منتج</h4>
        </div>
        <p class=" productTopP mb-5 mb-md-0 mb-sm-5 mb-lg-5  py-4 fs-5 ">
            في حال واجهتكم مشكلة في الموقع أو في عمليات الشراء عبرالموقع<br>

            أو في حال كانت لديكم شكاوى أو مقترحات او اي استفسارات <br>

            نحن بقربكم  <br>
            <a class="text-decoration-none   contactbtn    font-monospace py-0 btn  fs-5  " href="Help">تواصل معنا</a>


        </p>

        <form class="needs-validation m-5 text-start" action="/addproduct" method="post" enctype="multipart/form-data" novalidate>

            @{
                bool success = ViewBag.success != null;

                string productName = ViewBag.ProductName;
                string price = ViewBag.Price;
                string quantity = ViewBag.Quantity;
                string unit = ViewBag.Unit;
                string address = ViewBag.Address;
                string details = ViewBag.Details;

                string productNameOrg = ViewBag.ProductNameOrg;
                string priceOrg = ViewBag.PriceOrg;
                string quantityOrg = ViewBag.QuantityOrg;
                string unitOrg = ViewBag.UnitOrg;
                string addressOrg = ViewBag.AddressOrg;
                string detailsOrg = ViewBag.DetailsOrg;
            }

            @if (success)
            {
                <script>
                    setInterval(function () { window.location.replace("/Userinfo"); }, 3000);
                </script>

                <h1>تمت عملية الاضافة بنجاح</h1>
            }


            @{
                List<E_commerce.Controllers.MainCategory> categories = ViewBag.categories;
            }



            <h6 class="text-start">اختر الصنف :</h6>

            <a class=" firstselectcategory text-decoration-none text-start form-control">
                <span class="dropdown-toggle ">ماذا تريد ان تبيع   </span>
                <span class="changecategorybtn font-monospace py-0 btn">تغيير</span>
            </a>

            <input type="hidden" id="categoryId" name="categoryId" value="4">

            <div class="row Catagrysection gap-2 form-control  my-2 my-sm-2 my-md-2 my-lg-4 mx-0">

                <div class="col CatagryMainSection px-0  mt-0">

                    <h5 class="p-2 text-center">الاصناف الرئيسية: </h5>

                    @foreach (var cat in categories)
                    {
                        <li class="dropdown-item  Animal">@cat.Name</li>
                    }
                </div>

                <div class="col  CatagrySubsectionAnimal   px-0  mt-0 ">

                    <h5 class=" p-2   text-center ">
                        منتجات حيوانية:
                        <p class="fs-6">(الصنف الفرعي)</p>
                    </h5>

                    <li class=" dropdown-item li1"> منتجات اللحوم</li>
                    <li class=" dropdown-item li2"> طيور</li>
                    <li class="dropdown-item li3">اخرى </li>

                </div>

            </div>

            @if (productName != null || price != null || quantity != null || unit != null || address != null || details != null)
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="اسم المنتج" id="validationCustom01" value="@productNameOrg" name="productName" required>
            }
            else
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="اسم المنتج" id="validationCustom01" name="productName" required>
            }
            @if (productName != null)
            {
                <div style="color:red">
                    @productName
                </div>
            }


            @if (productName != null || price != null || quantity != null || unit != null || address != null || details != null)
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="السعر" id="validationCustom01" value="@priceOrg" name="price" required pattern="[0-9]+">
            }
            else
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="السعر" id="validationCustom01" name="price" required pattern="[0-9]+">
            }
            @if (price != null)
            {
                <div style="color:red">
                    @price
                </div>
            }


            @if (productName != null || price != null || quantity != null || unit != null || address != null || details != null)
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="الكمية" id="validationCustom01" value="@quantityOrg" name="quantity" required pattern="[0-9]+">
            }
            else
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="الكمية" id="validationCustom01" name="quantity" required pattern="[0-9]+">
            }
            @if (quantity != null)
            {
                <div style="color:red">
                    @quantity
                </div>
            }


            @if (productName != null || price != null || quantity != null || unit != null || address != null || details != null)
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="الوحدة" id="validationCustom01" value="@unitOrg" name="unit" required>
            }
            else
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="الوحدة" id="validationCustom01" name="unit" required>
            }
            @if (unit != null)
            {
                <div style="color:red">
                    @unit
                </div>
            }


            @if (productName != null || price != null || quantity != null || unit != null || address != null || details != null)
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="العنوان" id="validationCustom01" value="@addressOrg" name="address" required>
            }
            else
            {
                <input type="text" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="العنوان" id="validationCustom01" name="address" required>
            }
            @if (address != null)
            {
                <div style="color:red">
                    @address
                </div>
            }


            <input type="date" class="form-control my-2 my-sm-2 my-md-2 my-lg-4" placeholder="تاريخ انتهاء عرض المنتج" id="validationCustom01" name="date" required>


            @if (productName != null || price != null || quantity != null || unit != null || address != null || details != null)
            {
                <textarea class="form-control my-2 my-sm-2 my-md-2 my-lg-2 pb-5 " placeholder="التفاصيل" id="validationTextarea" name="details" required>@detailsOrg</textarea>
            }
            else
            {
                <textarea class="form-control my-2 my-sm-2 my-md-2 my-lg-2 pb-5 " placeholder="التفاصيل" id="validationTextarea" name="details" required></textarea>
            }
            @if (details != null)
            {
                <div style="color:red">
                    @details
                </div>
            }

            <div class=" imgDiv   w-100   form-control text-start ">
                <p class=" ps-2 fs-4 mt-1  ps-5 py-2">
                    اضف صورة ←  <span class=" ">قم بتعين احد الصور كصورة رئيسية</span>
                </p>

                <div class="row   ">
                    <div class=" addimg col-12 col-sm-6 col-md-4 col-lg-4">
                        <input class="imagemain " type="radio" name="imagemain" value="1">
                        <h5 class="d-inline-block">  تعيين كصورة رئيسية</h5>
                        <br>
                        <input name="image1" id="image1" class="d-none" type="file">
                        <label for="image1">
                            <img id="previewImage1" class="img-fluid  " src="../imgs/camera.png" alt="">

                            <div class="rounded-3 p-1 mt-2">
                                +
                            </div>
                        </label>
                    </div>
                    <div class=" addimg col-12 col-sm-6 col-md-4 col-lg-4 ">
                        <input class="imagemain " type="radio" name="imagemain" value="2">
                        <h5 class="d-inline-block">  تعيين كصورة رئيسية</h5>
                        <br>
                        <input name="image2" id="image2" class="d-none" type="file">
                        <label for="image2">
                            <img id="previewImage2" class="img-fluid  " src="../imgs/camera.png" alt="">
                            <div class="rounded-3 p-1 mt-2">
                                +
                            </div>
                        </label>

                    </div>
                    <div class=" addimg col-12 col-sm-6 col-md-4 col-lg-4 ">
                        <!-- Image Preview on choose file in BLOB url format -->
                        <input class="imagemain " type="radio" name="imagemain" value="3">  <h5 class="d-inline-block">  تعيين كصورة رئيسية</h5>
                        <br>
                        <input name="image3" id="image3" class="d-none" type="file">
                        <label for="image3">
                            <img id="previewImage3" class="img-fluid  " src="../imgs/camera.png" alt="">
                            <div class="div3 rounded-3 p-1 mt-2">
                                +
                            </div>
                        </label>

                    </div>

                </div>

            </div>



            <div class="   ">
                <button class=" btnsubmit btn  fs-5 w-100   my-3 " type="submit"> ارسال</button>
            </div>

        </form>

    </div>

</div>
